.card {
    margin-bottom: 1.5rem;
  }

  .coffeestain-customer-section {
    background: linear-gradient(150deg, #525f7f 15%, #32325d 70%, #212529 94%);
  }

  .coffestain-logo {
    margin-bottom: 1.5rem;
  }