---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>
  <h2> <b>@</b> {{ page.company | escape }}
    {%- if page.company-website -%} 
        <br><a style = "font-size: 0.7em;" href="{{ page.company-website }}">  {{ page.company-website }}</a>
    {%- endif -%}
  </h2>
  {%- if page.level -%} <h4><b>Seniority:</b> {{ page.level }}</h4> {%- endif -%}
  {%- if page.location -%} <h4><b>Location: </b>  {{ page.location }}</h4> {%- endif -%}
  {%- if page.special -%} <h4><b>Highlights:</b> {{ page.special }}</h4> {%- endif -%}
  <hr><br>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <hr><br>
  <b>Interested in the job:</b>
  {%- if page.position-apply -%} 
  <br><br><p>Apply directly to the company: <a href="{{ page.position-apply }}">Go there</a></p>
  <p>Want to know more about it first? Get in touch with us: <a href="mailto:pc@coffeestain.io">Get in touch</a></p>

{%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>